{% extends "base.html" %}

{% block content_id %}announcement_list{% endblock %}
{% block content %}

<nav id="breadcrumb">
  <ul>
    <li><a href="/regions/{{ service.region.slug}}/services/{{ service.slug }}">{{ service.name }}</a></li>
    <li>Announcements</li>
  </ul>
</nav>

<div class="archive">

  <h1>Announcements</h1>

  {% if announcement_list %}
  <table>
    {% for a in announcement_list %}
    <tr>
      <td>
        <time datetime="{{ a.opened }}" pubdate>
          {{ a.created|date:"M-j-Y" }}
        </time>
      </td>
      <td><a href="announcements/{{a.pk}}">{{ a }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <section class="empty">
    No Announcements here captain. Subscribe to the feeds for future updates!
  </section>
  {% endif %}

</div>
{% endblock %}
