{% extends "base.html" %}

{% block content_id %}service_detail{% endblock %}
{% block content %}

<nav id="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/regions/{{ service.region.slug }}">{{ service.region }}</a></li>
    <li>{{service }}</li>
  </ul>
</nav>

  <header>
    <h1>{{ service.name }}</h1>
    <img src="{{ STATIC_URL }}images/icons/{{ service.status.image }}" alt="Status Image" />
  </header>

  <section class="sidebar">

    <h3>Feeds</h3>
    <ul>
      {% for feed in service.feeds %}
      <li>
	<a href="{{ feed.url }}">
	  {{ feed.title }}
	</a>
      </li>
      {% endfor %}
    </ul>

    <h3>Archives</h3>
    <ul>
      {% for a in service.archives %}
      <li>
	<a href="{{ a.url }}">{{ a.title }}</a>
      </li>
      {% endfor %}
    </ul>

  <section class="mainpage">

    {% if announcements %}
    <h2>Annoucements</h2>
    <ul class="announcements">
      {% for a in announcements %}
      <li>
        <h3>{{ a.title }}</h3>
        <p>
          <time datetime="{{ a.created }}" pubdate>
            {{ a.created|date:"M-j-Y" }}
          </time>
        </p>
        <p>{{ a.message }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="issues">
      {% if issues %}
      <h2> {{ issue_type }}</h2>
      <table id="issues">
        <tbody>
          {% for issue in issues %}
          <tr>
            <td>{{ issue.opened|date:"M-j-Y" }}</td>
            <td><a href="{{service.slug}}/issues/{{issue.pk}}">{{ issue }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h2>Issues</h2>
      <p>Hooray! No open issues!</p>
      {% endif %}
    </div>

  </section>

{% endblock %}
