/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Helvetica Neue", Arial, sans-sarif;
    background: #f7f7f7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* button
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles
---------------------------------------------- */
/* white */

.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* Sticky Footer */
html, body {
    height: 100%;
}

a {
    color: #333;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1.3em;
}

footer, #push {
    height: 1.3em;
    clear: both;
}

/* Main Site */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

wrapper, footer {
    margin-left: auto;
    margin-right: auto;
}

#wrapper > header {
    width: auto;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    height: 80px;
}

#wrapper > header h1 {
    font-size: 2em;
    position: absolute;
    top: 20px;
    left: 75px;
    padding: 10px;
    font-weight: bold;
}

#wrapper > header h1 a {
    text-decoration: none;
    color: #333;
}

#wrapper > header img {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 75px;
}

h2, h3, p { margin-bottom: 10px;}

#wrapper {
    width: 600px;
}

.content {
    border: 1px solid #E4E4E4;
    background: white;
    margin-bottom: 20px;
}

ul.service_list > li {
    position: relative;
    display: block;
    min-height: 40px;
    margin: 10px;
    background: #daf1b8;
}

ul.service_list > li > img{
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -16px;
}

ul.service_list > li > a{
    position: absolute;
    top: 8px;
    left: 50px;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

ul.service_list > li > a:hover{
    color: #666;
    text-decoration: underline;
}

ul.service_list > li > ul{
    position: absolute;
    top: 5px;
    left: 350px;
    font-size: .8em;
}

ul.service_list > li > ul > li{
    float: left;
    margin-right: 10px;
}

ul.service_list > li > ul > li > a{
    color: #333;
}

ul.service_list > li > ul > li{
    color: #666;
}


#report {
    position: absolute;
    top: 29px;
    right: 0px;
    display: block;
    padding: 10px;
}

#breadcrumb {
    margin: 10px;
}

#breadcrumb ul li {
    display: inline-block;
}

#breadcrumb ul li:after {
    content: " >";
}

#breadcrumb ul li:last-child:after {
    content: "";
}

#breadcrumb ul li a{
    color: #666;
    text-decoration: none;
}

#breadcrumb ul li a:hover{
    color: #999;
    text-decoration: underline;
}

.content h1 {
    font-size: 2.4em;
    margin-bottom: 15px;
}

#service_detail section.sidebar {
    float: right;
    width: 150px;
}

#service_detail section.sidebar ul{
    margin-bottom: 20px;
}

#service_detail section.sidebar li{
    list-style-type: square;
    margin: 0 0 4px 20px;
}

#service_detail section.mainpage {
    margin-right: 170px;
}

#service_detail header {
    position: relative;
}

#service_detail header img {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 32px;
}

#service_detail header h1 {
    margin-left: 45px;
}

#service_detail p time {
    font-size: 11px;
}


.content tr th {
    text-align: left;
}

.content td, .content th {
    padding: 10px 10px 0 0;
}

.content table tr td:first-child {
    width: 100px;
    text-aligh: left;
}

form.admin p label{
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: right;
}

.errorlist {
  background: #ffb9c2;
  border: 1px solid #ff2f3e;
  margin-bottom: 10px;
  padding: 4px;
}

.issues {
  margin-bottom: 20px;
}

#delete_model form {
  float: right;
}

#powered {
  font-family: courier, monospace;
  font-size: 10px;
}

#powered a {
  color: #333;
  text-decoration: none;
}

#powered a:hover {
  color: #666;
}

footer { width: 600px; font-size: .8em; clear:both}
footer nav ul.left{ float: left }
footer nav ul.right{ float: right }
footer nav ul li { display: inline-block; }
footer nav ul li:after { content: " |"; }
footer nav ul li:last-child:after { content: ""; }

